
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Lato);

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url("url for your image");
  
  filter: blur;
  -webkit-filter: blur;
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 12px;
  text-align: center;
}
h1 {
    font-weight: bolder;
}
u {
    display: inline;
}
strong{
    font-weight: bold;
}
.intro {
    font-weight: 200;
}

ul {
    padding:0;
    list-style: none;
}
a {
    color: #fff;
    text-decoration:none;
}
.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #fff;
  }

.social-icon {
    color: #fff;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    font-size: 27px;
}

.fa-twitter {
    padding:10px 12px;
    font-size: 27px;
}
.fa-instagram {
    padding:10px 14px;
    font-size: 27px;
}
.fa-github {
    padding:10px 14px;
    font-size: 27px;
}
